* {
    margin: 0;
}

.rectangle {
    position: relative;
    margin: auto;
    height: 900px;
    width: 800px;
    border: 2px solid #0000ff;
    border-radius: 43px 43px;
}
.header {
    height: 200px;
    width: 100%;
    background-color: #0000ff;
    border-radius: 40px 40px 0 0;
}
.header .upper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header h1 {
    padding-top: 20px;
    color: #fff;
    text-align: center;
}
.switch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.switch .top {
    width: 10px;
    height: 10px;
    margin-right: 50px;
    color: #fff;
    border: #fff solid 2px;
    border-radius: 100%;
}
.switch .bottom {
    width: 15px;    
    color: #fff;
    border: #fff solid 2px;

}
.header-footer {
    margin: 20px;    
    display: flex;
    justify-content: space-between;
    padding: 20px 60px 10px 60px;
}

.today-tasks {
    color: #fff;
    width: 150px;
    height: 60px;
    font-size: 28px;
    padding: auto;
}
button {
    color: #fff;
    background-color: #0000ff;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 30px;
    width: 300px;
    height: 60px;
    cursor: pointer;
}


.calendar {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 750px;
    height: 200px;
    top: 190px;
}
.day {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 10px;
    background-color: #fff;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}
.day p {
    font-size: 30px;
}
.steck {
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    min-height: 400px;
    top: 300px;
    left: 20px;
}
.circle {    
    font-size: 24px;
    border-radius: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #0000ff;
    color: #fff;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}
.new-task {
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 700px;
    height: 40px;
    background-color: #77889940;
    border-radius: 10px;    
    transition: all 1s;

}

.remove-task {
    /* background-color: #FFCCCC; */
    margin-left: 50px;
    opacity: 0;
}

.headerper {
    /* transition: all 3s; */
    animation-duration: 1s;
    animation-name: header;

}

@keyframes header {
    from {      
    }  
    to {
      /* top: -200%; */
      transform: translateY(-125%);
    }
  }

.new-task .check {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    width: 20px;
    height: 20px;
}
.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10px;
    height: 10px;
    background-color: #C0C0C099;
    top: -50%;
    left: 30%;
    border-radius: 10px;
    transition: all 1s;
}
.modal .text {
    margin-top: 20px;
    font-size: 24px;
    width: 90%;
    height: 60px;
    resize: none;
    
}
.modal-active {
    top: 35%;
    width: 400px;    
    height: 200px;    
}

.modal .add-task {
    margin-top: 20px;
    border-radius: 10px;
    font-size: 2px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    transition: all 1s;
}
.modal .btn-task-active {    
    font-size: 30px;
    width: 300px;
    height: 60px;
    font-size: 20px;
}
.overlay {
    position: absolute;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    transition: 3s;
}