* {
    margin: 0;
}


.main {
    position: relative;
    margin: auto;
    height: 900px;
    width: 800px;
    border: 2px solid #0000ff;
    border-radius: 43px 43px;
}
.header {
    height: 200px;
    width: 100%;
    background-color: #0000ff;
    border-radius: 40px 40px 0 0;
}
.header .up {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.burger {
    width: 45px;
    height: 45px;
    margin-left: 50px;
    margin-top: 20px;
    border: none;
}
.burger :first-child {
    margin-top: 0;
}
.first {
    width: 30px;
    height: 2px;
    margin-top: 8px;
    background-color: #FFF;
    transition: all 0.5s;
}
.second {
    width: 30px;
    height: 2px;
    margin-top: 8px;
    background-color: #FFF;
    transition: all 0.5s;

}
.third {
    width: 30px;
    height: 2px;
    margin-top: 8px;
    background-color: #FFF;
    transition: all 0.5s;

}
.first.active {
    transform: rotate(45deg) translateY(14px);
}
.second.active {
    width: 0;
}
.third.active {
    transform: rotate(-45deg) translateY(-14px);
}
.header h1 {
    padding-top: 20px;
    color: #fff;
    text-align: center;
}
.switch {
    display: flex;
    width: 50px;
    height: 40px;
    margin-right: 50px;
    margin-top: 20px;
    border: none;
    flex-direction: column;
    align-items: center;

}
.switch .top {
    display: flex;
    width: 10px;
    height: 10px;
    color: #fff;
    border: #fff solid 2px;
    border-radius: 100%;
}
.switch .bottom {
    margin-top: 5px;
    display: flex;
    width: 25px;    
    height: 10px;
    color: #fff;
    border: #fff solid 2px;
    border-bottom: none;
    border-radius: 10px 10px 0 0;

}


.header-footer {
    margin: 20px;    
    display: flex;
    justify-content: space-between;
    padding: 20px 60px 10px 60px;
}

.today-tasks {
    color: #fff;
    width: 150px;
    height: 60px;
    font-size: 28px;
    padding: auto;
}
button {
    color: #fff;
    background-color: #0000ff;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 30px;
    width: 300px;
    height: 60px;
    cursor: pointer;
    outline: none;
}


.calendar {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 750px;
    height: 200px;
    top: 190px;
}
.day {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 10px;
    background-color: #fff;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}
.day p {
    font-size: 30px;
}
.stack {
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    min-height: 400px;
    top: 300px;
    left: 20px;
}
.circle {    
    font-size: 24px;
    border-radius: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #0000ff;
    color: #fff;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}
.new-task {
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 700px;
    height: 40px;
    background-color: #77889940;
    border-radius: 10px;    
    transition: all 1s;

}

.remove-task {
    /* background-color: #FFCCCC; */
    margin-left: 50px;
    opacity: 0;
}

.upper {
    /* transition: all 3s; */
    animation-duration: 1s;
    animation-name: header;

}

@keyframes header {
    from {      
    }  
    to {
      /* top: -200%; */
      transform: translateY(-125%);
    }
  }

.new-task .check {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    width: 20px;
    height: 20px;
}
.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10px;
    height: 10px;
    background-color: #C0C0C099;
    top: -50%;
    left: 30%;
    border-radius: 10px;
    transition: all 1s;
}
.modal .text {
    margin-top: 20px;
    font-size: 24px;
    width: 90%;
    height: 60px;
    resize: none;
    
}
.modal-active {
    top: 35%;
    width: 400px;    
    height: 200px;    
}

.modal .add-task {
    margin-top: 20px;
    border-radius: 10px;
    font-size: 2px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    transition: all 1s;
}
.modal .btn-task-active {    
    font-size: 30px;
    width: 300px;
    height: 60px;
    font-size: 20px;
}
.overlay {
    position: absolute;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    transition: 3s;
    border-radius: 43px 43px;
}


/* Темная тема */

.dark-theme {
    background-color:#5F9EA0;
    color: #000000;
    border: 2px solid #2F4F4F;    
}
.dark-theme .header {    
    color:#000000;
    background-color: #2F4F4F;
}
.dark-theme .switch {
    border: none;
}
.dark-theme .switch .top {
    border: solid 2px  #000000;    
}
.dark-theme .switch .bottom {
    border: solid 2px  #000000;  
    border-bottom: none;  
}
.dark-theme button {
    border: 2px solid #000000;
    color: #000000;
    background-color: #2F4F4F;
}
.dark-theme h1 {
    color:#000000;    
}
.dark-theme .today-tasks {
    color:#000000;    
}
.dark-theme .circle {
    background-color:  #2F4F4F;
    color:#000000;
}
.dark-theme .day {
    background-color: #A9A9A9;
}
.dark-theme .new-task{
    background-color:#808080;
}
.dark-theme .burger {    
    border: none;
}
.dark-theme .burger p {
    background-color: #000000;
}